<div class="row">
  <div class="col-md-12">
    <h1><%= @post.markdown_title %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
       <%= image_tag(@post.image.full.url) if @post.image? %>
       submitted <%= time_ago_in_words(@post.created_at) %> ago by
       <%= @post.user.name %>
  </div>
  <div class="col-md-8">
    <p><%= @post.markdown_body %></p>
  </div>
  <% if policy(Post.new).edit? %> 
  <%= link_to "Edit post", edit_topic_post_path(@topic,@post), class: 'btn btn-success' %> 
  <% end %> 
</div>
<div class="row">
  <div class="col-md-4">
  <% if @summary != nil %>
      <p>Summary: <%= @post.summary.title %></p>
      <% if policy(Summary.new).edit? %> 
        <%= link_to "Edit summary", edit_topic_post_summary_path(@topic,@post,@summary), class: 'btn btn-success' %> 
      <% end %> 
    <% else %>
      <% if policy(Summary.new).new? %>
        <%= link_to "Summarize this post", new_topic_post_summary_path(@topic,@post,@summary), class: 'btn btn-success' %> 
      <% end %> 
    <% end %>
  </div>
</div>

<div class = "row"> 
  
  <% @comments.each do |comment| %>
  <h4> comment from <%= comment.user.name%> </h4>
  <%= comment.body %>
  <br> <!-- Undefined method comment for post.  -->
 <!--   -->

  <%end%>
<%if policy(Comment.new).create?%> 
<%= link_to "Make a Comment", new_topic_post_comment_path(@topic,@post,@comment), class: 'btn btn-warning' %> 
<% end %>

</div> 

  <div class="col-md-4">
    <% if policy(Topic.new).create? %>
      <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
    <% end %>
  </div>
</div>

