<h1><%= @post.markdown_title %></h1>
<p><%= @post.markdown_body %></p>
<% if @summary != nil %>
  <p>Summary: <%= @post.summary.title %></p>
  <% if policy(Summary.new).edit? %> 
    <%= link_to "Edit summary", edit_topic_post_summary_path(@topic,@post,@summary), class: 'btn btn-success' %> 
  <% end %> 
<% else %>
  <% if policy(Summary.new).new? %>
    <%= link_to "Summarize this post", new_topic_post_summary_path(@topic,@post,@summary), class: 'btn btn-success' %> 
  <% end %> 
<% end %>

<% if policy(Post.new).edit? %> 
<%= link_to "Edit post", edit_topic_post_path(@topic,@post), class: 'btn btn-success' %> 
<% end %> 